In [1]:
import pandas as pd

weather = pd.read_csv(r'data/DataDowloadCSV.csv')
#this csv is like a million rows

In [2]:
i = 0
years = []
while i < len(weather):
    years.append(int(weather['Date'][i].split('-')[0]))
    i += 1
weather["Year"] = years

In [3]:
weather.columns

Index([u'Date', u'Maximum Temperature degrees (F)',
       u'Minimum Temperature degrees (F)', u'Precipitation (inches)',
       u'Snow (inches)', u'Snow Depth (inches)', u'Year'],
      dtype='object')

In [15]:
# need to make the low temps floats (the highs already are)
weather['Minimum Temperature degrees (F)'] = weather['Minimum Temperature degrees (F)'].astype('float64')

In [ ]:
# next step: try to add the snow depth to the conditional selection
# there are these "T" values that I do not understand
weather['Snow Depth (inches)'] = weather['Snow Depth (inches)'].replace('T',0.0).replace('M',0.0).astype('float64')

In [ ]:
freezeThaw = weather[(weather['Maximum Temperature degrees (F)'] >= 34.0)
                     & (weather['Minimum Temperature degrees (F)']<= 28.0)
                     & (weather['Snow Depth (inches)']>=1.0)
                     & (weather.Year > 1996)]

In [ ]:
annualFT = freezeThaw.groupby('Year').size()

In [ ]:
annualFT.plot(kind="bar")

In [ ]:
freezeThaw1 = weather[(weather['Maximum Temperature degrees (F)'] >= 38.0)
                     & (weather['Minimum Temperature degrees (F)']<= 22.0)
                     & (weather['Snow Depth (inches)']>=1.0)
                     & (weather.Year > 1996)]
freezeThaw1.groupby('Year').size().plot(kind="bar")

In [4]:
weather = weather[weather.Year > 1956]
weather.head()

,Date,Maximum Temperature degrees (F),Minimum Temperature degrees (F),Precipitation (inches),Snow (inches),Snow Depth (inches),Year
6850,1957-01-01,11.0,-3.0,0.00,0.00,0.00,1957
6851,1957-01-02,27.0,0.0,0.00,0.00,0.00,1957
6852,1957-01-03,35.0,19.0,0.10,1.10,0.00,1957
6853,1957-01-04,19.0,6.0,T,T,1.00,1957
6854,1957-01-05,25.0,3.0,T,T,1.00,1957

In [5]:
weather.to_csv(r"data/truncatedWeather.csv")